infra/.terraform
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform.lock.hcl

lab_2_react/node_modules
lab_2_react/dist
lab_2_react/dist-ssr
lab_2_react/*.local
lab_2_react/.vscode
lab_2_react/.idea
lab_2_react/.DS_Store
lab_2_react/*.suo
lab_2_react/*.ntvs*
lab_2_react/*.njsproj
lab_2_react/*.sln
lab_2_react/*.sw?


